.classgroup-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-rght: auto;
}
.classgroup-middle {
  margin-left: auto;
  margin-right: auto;
}
.classgroup-avatar {
  margin-left: auto;
  margin-right: 0;
  margin-top: -40px;
  z-index: 10;
  width: 38px;
  height: 38px;
}
.class-title span {
  color: #FFF !important;
}
.class-title span {
  color: #FFF !important;
}
.class-card {
  padding: 10px;
}
@media (min-width: 980px) {
  .class-card {
    width: calc(25% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .class-card {
    width: calc(33% - 20px);
  }
}
@media (min-width: 384px) and (max-width: 767px) {
  .class-card {
    width: calc(50% - 20px);
  }
}
@media (max-width: 383px) {
  .class-card {
    width: calc(100% - 20px);
  }
}
.login-dialog {
  width: 300px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7 !important;
}
.login-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.login-middle {
  margin-left: auto;
  margin-right: auto;
}
.login-title {
  font-size: 250%;
  text-align: center;
  color: #666;
  font-weight: 100;
}
.login-subtitle {
  font-size: 18px;
  text-align: center;
  color: #666;
  margin: 10px 0 20px 0;
  font-weight: 100;
}
.login-logo {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}
.login-confirm {
  background-color: #4a8bf5 !important;
}
.login-dialog > div > div:nth-child(2) > div {
  margin-right: 0px !important;
}
